.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8vmin);
  color: white;
  padding: 20% 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.letters {
  width: calc(8.4em + 5px);
}

.letter {
  float: left;
  margin: 0 0.2em;
  height: 2em;
  width: 1em;
  cursor: pointer;
}

.letter-open {
  color: gray;
}

form {
  color: black;
}
